.divider {
    font-size: x-large;
    font-style: italic;
}

.logout {
    font-size: 20px;
    vertical-align: baseline;
}

.username {
    color: #73d9b3;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.card {
    margin: 30px auto;
    float: none;
    text-align: left;
}

.title {
    font-weight: bold;
    font-size: larger;
}