body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://source.unsplash.com/collection/495468/1600x900");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }